<tr>
    <td class="py-2 px-4 border-b"><%= user_row.id %></td>
    <td class="py-2 px-4 border-b"><%= user_row.name %></td>
    <td class="py-2 px-4 border-b"><%= user_row.username %></td>
    <td class="py-2 px-4 border-b"><%= user_row.email %></td>
    <td class="py-2 px-4 border-b">
    <button class="bg-zinc-800 text-white py-1 px-2 rounded-full font-bold hover:bg-blue-800"
    onclick="mostrarVentanaPermisos()">Permisos</button>
    <button
    class="border border-zinc-800 text-black py-1 px-2 rounded-full font-bold hover:text-white hover:bg-red-600  hover:border-red-600"
    onclick="mostrarVentanaConfirmacion()">Eliminar</button>
    </td>
</tr>

